## Connecting to a database
To start interacting with the database we first we need to establish a connection.

d'après :
https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_core_using_multiple_tables.htm

In [1]:
import sqlalchemy as db
# default
engine = db.create_engine('sqlite:///college.db', echo = True)

## Creating Table Details
SQLAlchemy can be used to automatically load tables from a database using something called reflection. Reflection is the process of reading the database and building the metadata based on that information.

In [2]:
from sqlalchemy import MetaData
meta = MetaData()

In [3]:
from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)
meta.create_all(engine)

2022-09-21 12:55:45,516 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-21 12:55:45,532 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2022-09-21 12:55:45,532 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-21 12:55:45,540 INFO sqlalchemy.engine.Engine COMMIT

## Insert items in database
In this chapter, we will briefly focus on the SQL Expressions and their functions.

SQL expressions are constructed using corresponding methods relative to target table objec.t For example, the INSERT statement is created by executing insert() method as follows −

In [4]:
ins = students.insert().values(name = 'Karan')

In the previous chapter, we have learnt SQL Expressions. In this chapter, we shall look into the execution of these expressions.

In order to execute the resulting SQL expressions, we have to obtain a connection object representing an actively checked out DBAPI connection resource and then feed the expression object as shown in the code below.

In [5]:
conn = engine.connect()

In [6]:
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
result = conn.execute(ins)

2022-09-21 12:55:46,986 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-09-21 12:55:46,994 INFO sqlalchemy.engine.Engine [generated in 0.00476s] ('Ravi', 'Kapoor')
2022-09-21 12:55:47,002 INFO sqlalchemy.engine.Engine COMMIT

Following is the entire snippet that shows the execution of INSERT query using SQLAlchemy’s core technique

In [7]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

ins = students.insert()
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
conn = engine.connect()
result = conn.execute(ins)

2022-09-21 12:55:47,399 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-09-21 12:55:47,399 INFO sqlalchemy.engine.Engine [generated in 0.00290s] ('Ravi', 'Kapoor')
2022-09-21 12:55:47,407 INFO sqlalchemy.engine.Engine COMMIT

To issue many inserts using DBAPI’s execute many() method, we can send in a list of dictionaries each containing a distinct set of parameters to be inserted.

In [8]:
conn.execute(students.insert(), [
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

2022-09-21 12:55:47,803 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-09-21 12:55:47,803 INFO sqlalchemy.engine.Engine [generated in 0.00319s] (('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2022-09-21 12:55:47,811 INFO sqlalchemy.engine.Engine COMMIT

## In this chapter, we will discuss about the concept of selecting rows in the table object.

The select() method of table object enables us to construct SELECT expression.

In [9]:
s = students.select()
str(s)

'SELECT students.id, students.name, students.lastname \nFROM students'

### Complete code

In [26]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

s = students.select()
conn = engine.connect()
result = conn.execute(s)

for row in result:
   print (row)

2022-09-21 13:11:00,317 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-09-21 13:11:00,317 INFO sqlalchemy.engine.Engine [generated in 0.00245s] ()
(1, 'Ravi', 'Kapoor')
(2, 'Ravi', 'Kapoor')
(3, 'Rajiv', 'Kapoor')
(4, 'Komal', 'Bhandari')
(5, 'Abdul', 'Sattar')
(6, 'Priya', 'Rajhans')
(7, 'Ravi', 'Kapoor')
(8, 'Ravi', 'Kapoor')
(9, 'Rajiv', 'Kapoor')
(10, 'Komal', 'Bhandari')
(11, 'Abdul', 'Sattar')
(12, 'Priya', 'Rajhans')
(13, 'Ravi', 'Kapoor')
(14, 'Ravi', 'Kapoor')
(15, 'Rajiv', 'Kapoor')
(16, 'Komal', 'Bhandari')
(17, 'Abdul', 'Sattar')
(18, 'Priya', 'Rajhans')
(19, 'Ravi', 'Kapoor')
(20, 'Ravi', 'Kapoor')
(21, 'Rajiv', 'Kapoor')
(22, 'Komal', 'Bhandari')
(23, 'Abdul', 'Sattar')
(24, 'Priya', 'Rajhans')
(25, 'Ravi', 'Kapoor')
(26, 'Ravi', 'Kapoor')
(27, 'Rajiv', 'Kapoor')
(28, 'Komal', 'Bhandari')
(29, 'Abdul', 'Sattar')
(30, 'Priya', 'Rajhans')
(31, 'Ravi', 'Kapoor')
(32, 'Ravi', 'Kapoor')
(33, 'Rajiv', 'Kapoor')
(34, 'Komal', 'Bhandari')
(35, 'Abdul', 'Sattar')
(36, 'Priya', 'Rajhans')
(37, 'Ravi', 'Kapoor')
(38, 'Ravi', 'Kapoor')
(39, 'Rajiv', 'Kapoor')
(40, 'Komal', 'Bhandari')
(41, 'Abdul', 'Sattar')
(42, 'Priya', 'Rajhans')

The WHERE clause of SELECT query can be applied by using Select.where(). For example, if we want to display rows with id >2

In [11]:
# Here c attribute is an alias for column. Following output will be displayed on the shell
s = students.select().where(students.c.id<5)
result = conn.execute(s)

for row in result:
   print (row)

2022-09-21 12:55:49,350 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
WHERE students.id < ?
2022-09-21 12:55:49,350 INFO sqlalchemy.engine.Engine [generated in 0.00353s] (5,)
(1, 'Ravi', 'Kapoor')
(2, 'Ravi', 'Kapoor')
(3, 'Rajiv', 'Kapoor')
(4, 'Komal', 'Bhandari')

## SQLAlchemy lets you just use strings

for those cases when the SQL is already known and there isn’t a strong need for the statement to support dynamic features. The text() construct is used to compose a textual statement that is passed to the database mostly unchanged.

It constructs a new TextClause, representing a textual SQL string directly as shown in the below

In [12]:
from sqlalchemy import text
t = text("SELECT * FROM students")
result = conn.execute(t)

2022-09-21 12:55:49,886 INFO sqlalchemy.engine.Engine SELECT * FROM students
2022-09-21 12:55:49,886 INFO sqlalchemy.engine.Engine [generated in 0.00329s] ()

In [13]:
#version compacte
from sqlalchemy.sql import text
s = text("select students.name, students.lastname from students where students.name between :x and :y")
conn.execute(s, x = 'A', y = 'K').fetchall()

2022-09-21 12:55:50,168 INFO sqlalchemy.engine.Engine select students.name, students.lastname from students where students.name between ? and ?
2022-09-21 12:55:50,168 INFO sqlalchemy.engine.Engine [generated in 0.00394s] ('A', 'K')

[('Abdul', 'Sattar'),
 ('Abdul', 'Sattar'),
 ('Abdul', 'Sattar'),
 ('Abdul', 'Sattar'),
 ('Abdul', 'Sattar'),
 ('Abdul', 'Sattar'),
 ('Abdul', 'Sattar')]

In [14]:
#version explicite
from sqlalchemy import bindparam
stmt = text("SELECT * FROM students WHERE students.name BETWEEN :x AND :y")

stmt = stmt.bindparams(
   bindparam("x", type_= String), 
   bindparam("y", type_= String)
)

result = conn.execute(stmt, {"x": "A", "y": "L"})

2022-09-21 12:55:50,397 INFO sqlalchemy.engine.Engine SELECT * FROM students WHERE students.name BETWEEN ? AND ?
2022-09-21 12:55:50,409 INFO sqlalchemy.engine.Engine [generated in 0.00411s] ('A', 'L')

In [15]:
# encore une autre version
from sqlalchemy.sql import select
s = select([text("students.name, students.lastname from students")]).where(text("students.name between :x and :y"))
conn.execute(s, x = 'A', y = 'L').fetchall()

2022-09-21 12:55:50,679 INFO sqlalchemy.engine.Engine SELECT students.name, students.lastname from students
WHERE students.name between ? and ?
2022-09-21 12:55:50,679 INFO sqlalchemy.engine.Engine [generated in 0.00394s] ('A', 'L')

[('Komal', 'Bhandari'),
 ('Abdul', 'Sattar'),
 ('Komal', 'Bhandari'),
 ('Abdul', 'Sattar'),
 ('Komal', 'Bhandari'),
 ('Abdul', 'Sattar'),
 ('Komal', 'Bhandari'),
 ('Abdul', 'Sattar'),
 ('Komal', 'Bhandari'),
 ('Abdul', 'Sattar'),
 ('Komal', 'Bhandari'),
 ('Abdul', 'Sattar'),
 ('Komal', 'Bhandari'),
 ('Abdul', 'Sattar')]

#### You can also use and_() function to combine multiple conditions in WHERE clause created with the help of text() function.

In [16]:
from sqlalchemy import and_
from sqlalchemy.sql import select
s = select([text("* from students")]) \
.where(
   and_(
      text("students.name between :x and :y"),
      text("students.id>2")
   )
)
conn.execute(s, x = 'A', y = 'L').fetchall()

2022-09-21 12:55:51,159 INFO sqlalchemy.engine.Engine SELECT * from students
WHERE students.name between ? and ? AND students.id>2
2022-09-21 12:55:51,159 INFO sqlalchemy.engine.Engine [generated in 0.00357s] ('A', 'L')

[(4, 'Komal', 'Bhandari'),
 (5, 'Abdul', 'Sattar'),
 (10, 'Komal', 'Bhandari'),
 (11, 'Abdul', 'Sattar'),
 (16, 'Komal', 'Bhandari'),
 (17, 'Abdul', 'Sattar'),
 (22, 'Komal', 'Bhandari'),
 (23, 'Abdul', 'Sattar'),
 (28, 'Komal', 'Bhandari'),
 (29, 'Abdul', 'Sattar'),
 (34, 'Komal', 'Bhandari'),
 (35, 'Abdul', 'Sattar'),
 (40, 'Komal', 'Bhandari'),
 (41, 'Abdul', 'Sattar')]

The update() method on target table object constructs equivalent UPDATE SQL expression.

In [17]:
stmt = students.update().where(students.c.lastname == 'Khanna').values(lastname = 'Kapoor')

The bound parameter lastname_1 will be substituted when execute() method is invoked. The complete update code is given below −

In [18]:
 # on applique la transformation avec execute()
conn.execute(stmt)
# select() permet de récupérer tous les éléments de la table
s = students.select()
# permet d'afficher
conn.execute(s).fetchall()

2022-09-21 12:55:52,328 INFO sqlalchemy.engine.Engine UPDATE students SET lastname=? WHERE students.lastname = ?
2022-09-21 12:55:52,328 INFO sqlalchemy.engine.Engine [generated in 0.00452s] ('Kapoor', 'Khanna')
2022-09-21 12:55:52,344 INFO sqlalchemy.engine.Engine COMMIT
2022-09-21 12:55:52,352 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-09-21 12:55:52,360 INFO sqlalchemy.engine.Engine [cached since 3.49s ago] ()

[(1, 'Ravi', 'Kapoor'),
 (2, 'Ravi', 'Kapoor'),
 (3, 'Rajiv', 'Kapoor'),
 (4, 'Komal', 'Bhandari'),
 (5, 'Abdul', 'Sattar'),
 (6, 'Priya', 'Rajhans'),
 (7, 'Ravi', 'Kapoor'),
 (8, 'Ravi', 'Kapoor'),
 (9, 'Rajiv', 'Kapoor'),
 (10, 'Komal', 'Bhandari'),
 (11, 'Abdul', 'Sattar'),
 (12, 'Priya', 'Rajhans'),
 (13, 'Ravi', 'Kapoor'),
 (14, 'Ravi', 'Kapoor'),
 (15, 'Rajiv', 'Kapoor'),
 (16, 'Komal', 'Bhandari'),
 (17, 'Abdul', 'Sattar'),
 (18, 'Priya', 'Rajhans'),
 (19, 'Ravi', 'Kapoor'),
 (20, 'Ravi', 'Kapoor'),
 (21, 'Rajiv', 'Kapoor'),
 (22, 'Komal', 'Bhandari'),
 (23, 'Abdul', 'Sattar'),
 (24, 'Priya', 'Rajhans'),
 (25, 'Ravi', 'Kapoor'),
 (26, 'Ravi', 'Kapoor'),
 (27, 'Rajiv', 'Kapoor'),
 (28, 'Komal', 'Bhandari'),
 (29, 'Abdul', 'Sattar'),
 (30, 'Priya', 'Rajhans'),
 (31, 'Ravi', 'Kapoor'),
 (32, 'Ravi', 'Kapoor'),
 (33, 'Rajiv', 'Kapoor'),
 (34, 'Komal', 'Bhandari'),
 (35, 'Abdul', 'Sattar'),
 (36, 'Priya', 'Rajhans'),
 (37, 'Ravi', 'Kapoor'),
 (38, 'Ravi', 'Kapoor'),
 (39, 'Rajiv', 'Kapoor'),
 (40, 'Komal', 'Bhandari'),
 (41, 'Abdul', 'Sattar'),
 (42, 'Priya', 'Rajhans')]

In [27]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', 
   meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

conn = engine.connect()
stmt=students.update().where(students.c.lastname=='Khanna').values(lastname='Kapoor')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

2022-09-21 13:11:16,055 INFO sqlalchemy.engine.Engine UPDATE students SET lastname=? WHERE students.lastname = ?
2022-09-21 13:11:16,055 INFO sqlalchemy.engine.Engine [generated in 0.00396s] ('Kapoor', 'Khanna')
2022-09-21 13:11:16,063 INFO sqlalchemy.engine.Engine COMMIT
2022-09-21 13:11:16,071 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-09-21 13:11:16,071 INFO sqlalchemy.engine.Engine [generated in 0.00264s] ()

[(1, 'Ravi', 'Kapoor'),
 (2, 'Ravi', 'Kapoor'),
 (3, 'Rajiv', 'Kapoor'),
 (4, 'Komal', 'Bhandari'),
 (5, 'Abdul', 'Sattar'),
 (6, 'Priya', 'Rajhans'),
 (7, 'Ravi', 'Kapoor'),
 (8, 'Ravi', 'Kapoor'),
 (9, 'Rajiv', 'Kapoor'),
 (10, 'Komal', 'Bhandari'),
 (11, 'Abdul', 'Sattar'),
 (12, 'Priya', 'Rajhans'),
 (13, 'Ravi', 'Kapoor'),
 (14, 'Ravi', 'Kapoor'),
 (15, 'Rajiv', 'Kapoor'),
 (16, 'Komal', 'Bhandari'),
 (17, 'Abdul', 'Sattar'),
 (18, 'Priya', 'Rajhans'),
 (19, 'Ravi', 'Kapoor'),
 (20, 'Ravi', 'Kapoor'),
 (21, 'Rajiv', 'Kapoor'),
 (22, 'Komal', 'Bhandari'),
 (23, 'Abdul', 'Sattar'),
 (24, 'Priya', 'Rajhans'),
 (25, 'Ravi', 'Kapoor'),
 (26, 'Ravi', 'Kapoor'),
 (27, 'Rajiv', 'Kapoor'),
 (28, 'Komal', 'Bhandari'),
 (29, 'Abdul', 'Sattar'),
 (30, 'Priya', 'Rajhans'),
 (31, 'Ravi', 'Kapoor'),
 (32, 'Ravi', 'Kapoor'),
 (33, 'Rajiv', 'Kapoor'),
 (34, 'Komal', 'Bhandari'),
 (35, 'Abdul', 'Sattar'),
 (36, 'Priya', 'Rajhans'),
 (37, 'Ravi', 'Kapoor'),
 (38, 'Ravi', 'Kapoor'),
 (39, 'Rajiv', 'Kapoor'),
 (40, 'Komal', 'Bhandari'),
 (41, 'Abdul', 'Sattar'),
 (42, 'Priya', 'Rajhans')]

# DELETE
In the previous chapter, we have understood what an Update expression does. The next expression that we are going to learn is Delete.

In [28]:
stmt = students.delete()

In [29]:
stmt = students.delete().where(students.c.id > 2)

In [31]:
from sqlalchemy.sql.expression import update
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)

meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

conn = engine.connect()
stmt = students.delete().where(students.c.lastname == 'Kapoor')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

2022-09-21 13:11:35,309 INFO sqlalchemy.engine.Engine DELETE FROM students WHERE students.lastname = ?
2022-09-21 13:11:35,309 INFO sqlalchemy.engine.Engine [generated in 0.00314s] ('Kapoor',)
2022-09-21 13:11:35,317 INFO sqlalchemy.engine.Engine COMMIT
2022-09-21 13:11:35,325 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-09-21 13:11:35,333 INFO sqlalchemy.engine.Engine [generated in 0.00224s] ()

[(4, 'Komal', 'Bhandari'),
 (5, 'Abdul', 'Sattar'),
 (6, 'Priya', 'Rajhans'),
 (10, 'Komal', 'Bhandari'),
 (11, 'Abdul', 'Sattar'),
 (12, 'Priya', 'Rajhans'),
 (16, 'Komal', 'Bhandari'),
 (17, 'Abdul', 'Sattar'),
 (18, 'Priya', 'Rajhans'),
 (22, 'Komal', 'Bhandari'),
 (23, 'Abdul', 'Sattar'),
 (24, 'Priya', 'Rajhans'),
 (28, 'Komal', 'Bhandari'),
 (29, 'Abdul', 'Sattar'),
 (30, 'Priya', 'Rajhans'),
 (34, 'Komal', 'Bhandari'),
 (35, 'Abdul', 'Sattar'),
 (36, 'Priya', 'Rajhans'),
 (40, 'Komal', 'Bhandari'),
 (41, 'Abdul', 'Sattar'),
 (42, 'Priya', 'Rajhans')]

## One of the important features of RDBMS is establishing relation between tables.

SQL operations like SELECT, UPDATE and DELETE can be performed on related tables. This section describes these operations using SQLAlchemy.
For this purpose, two tables are created in our SQLite database (college.db). The students table has the same structure as given in the previous section; whereas the addresses table has st_id column which is mapped to id column in students table using foreign key constraint.
The following code will create two tables in college.db −

In [32]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey
engine = create_engine('sqlite:///college.db', echo=True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer, ForeignKey('students.id')), 
   Column('postal_add', String), 
   Column('email_add', String))

meta.create_all(engine)

2022-09-21 13:12:54,222 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-21 13:12:54,222 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2022-09-21 13:12:54,230 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-21 13:12:54,238 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("addresses")
2022-09-21 13:12:54,238 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-21 13:12:54,246 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("addresses")
2022-09-21 13:12:54,246 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-21 13:12:54,254 INFO sqlalchemy.engine.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	st_id INTEGER,
	postal_add VARCHAR,
	email_add VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(st_id) REFERENCES students (id)
)


2022-09-21 13:12:54,254 INFO sqlalchemy.engine.Engine [no key 0.00259s] ()
2022-09-21 13:12:54,270 INFO sqlalchemy.engine.Engine COMMIT

These tables are populated with data by executing insert() method of table objects. To insert 5 rows in students table, you can use the code given below

In [36]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

conn = engine.connect()
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

conn.execute(students.insert(), [
   {'name':'Ravi', 'lastname':'Kapoor'},
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

2022-09-21 13:16:06,318 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-09-21 13:16:06,326 INFO sqlalchemy.engine.Engine [generated in 0.00442s] (('Ravi', 'Kapoor'), ('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2022-09-21 13:16:06,334 INFO sqlalchemy.engine.Engine COMMIT

Rows are added in **addresses table** with the help of the following code

In [37]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()
conn = engine.connect()

addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer), 
   Column('postal_add', String), 
   Column('email_add', String)
)

conn.execute(addresses.insert(), [
   {'st_id':1, 'postal_add':'Shivajinagar Pune', 'email_add':'ravi@gmail.com'},
   {'st_id':1, 'postal_add':'ChurchGate Mumbai', 'email_add':'kapoor@gmail.com'},
   {'st_id':3, 'postal_add':'Jubilee Hills Hyderabad', 'email_add':'komal@gmail.com'},
   {'st_id':5, 'postal_add':'MG Road Bangaluru', 'email_add':'as@yahoo.com'},
   {'st_id':2, 'postal_add':'Cannought Place new Delhi', 'email_add':'admin@khanna.com'},
])

2022-09-21 13:17:47,954 INFO sqlalchemy.engine.Engine INSERT INTO addresses (st_id, postal_add, email_add) VALUES (?, ?, ?)
2022-09-21 13:17:47,954 INFO sqlalchemy.engine.Engine [generated in 0.00238s] ((1, 'Shivajinagar Pune', 'ravi@gmail.com'), (1, 'ChurchGate Mumbai', 'kapoor@gmail.com'), (3, 'Jubilee Hills Hyderabad', 'komal@gmail.com'), (5, 'MG Road Bangaluru', 'as@yahoo.com'), (2, 'Cannought Place new Delhi', 'admin@khanna.com'))
2022-09-21 13:17:47,962 INFO sqlalchemy.engine.Engine COMMIT

In [38]:
from sqlalchemy.sql import select
s = select([students, addresses]).where(students.c.id == addresses.c.st_id)
result = conn.execute(s)

for row in result:
   print (row)

2022-09-21 13:18:19,046 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname, addresses.id AS id_1, addresses.st_id, addresses.postal_add, addresses.email_add
FROM students, addresses
WHERE students.id = addresses.st_id
2022-09-21 13:18:19,046 INFO sqlalchemy.engine.Engine [generated in 0.00426s] ()
(5, 'Abdul', 'Sattar', 4, 5, 'MG Road Bangaluru', 'as@yahoo.com')

In [39]:
s = students.select()
conn.execute(s).fetchall()

2022-09-21 13:19:18,720 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-09-21 13:19:18,728 INFO sqlalchemy.engine.Engine [generated in 0.00348s] ()

[(4, 'Komal', 'Bhandari'),
 (5, 'Abdul', 'Sattar'),
 (6, 'Priya', 'Rajhans'),
 (10, 'Komal', 'Bhandari'),
 (11, 'Abdul', 'Sattar'),
 (12, 'Priya', 'Rajhans'),
 (16, 'Komal', 'Bhandari'),
 (17, 'Abdul', 'Sattar'),
 (18, 'Priya', 'Rajhans'),
 (22, 'Komal', 'Bhandari'),
 (23, 'Abdul', 'Sattar'),
 (24, 'Priya', 'Rajhans'),
 (28, 'Komal', 'Bhandari'),
 (29, 'Abdul', 'Sattar'),
 (30, 'Priya', 'Rajhans'),
 (34, 'Komal', 'Bhandari'),
 (35, 'Abdul', 'Sattar'),
 (36, 'Priya', 'Rajhans'),
 (40, 'Komal', 'Bhandari'),
 (41, 'Abdul', 'Sattar'),
 (42, 'Priya', 'Rajhans'),
 (43, 'Ravi', 'Kapoor'),
 (44, 'Rajiv', 'Khanna'),
 (45, 'Komal', 'Bhandari'),
 (46, 'Abdul', 'Sattar'),
 (47, 'Priya', 'Rajhans')]