## Utiliser le module SQLite
Pour importer le module SQLite:

In [6]:
import sqlite3
conn = sqlite3.connect('ma_base.db')
#lorsque le travail est terminé, on close() la database
conn .close()

## Créer une table avec SQLite
Voici un exemple de création de table:

In [11]:
conn = sqlite3.connect('ma_base.db')
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS users(
     id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
     name TEXT,
     age INTERGER
)
""")
conn.commit()

## Supprimer une table avec SQLite

In [9]:
cursor = conn.cursor()
cursor.execute("""
DROP TABLE users
""")
conn.commit()

## Insérer des données
Il existe plusieurs manière d'insérer des données, la plus simple étant celle-ci:

In [12]:
cursor.execute("""
INSERT INTO users(name, age) VALUES(?, ?)""", ("olivier", 30))

Vous pouvez passer par un dictionnaire:

In [13]:
data = {"name" : "olivier", "age" : 30}
cursor.execute("""
INSERT INTO users(name, age) VALUES(:name, :age)""", data)

Vous pouvez récupérer l'id de la ligne que vous venez d'insérer de cette manière:

In [14]:
id = cursor.lastrowid
print('dernier id: %d' % id)

dernier id: 2

Il est également possible de faire plusieurs insert en une seule fois avec la fonction executemany :

In [15]:
users = []
users.append(("olivier", 30))
users.append(("jean-louis", 90))
cursor.executemany("""
INSERT INTO users(name, age) VALUES(?, ?)""", users)

## Récupérer des données
Vous pouvez récupérer la première ligne correspondant à votre recherche à l'aide de la fonction fetchone.

In [16]:
cursor.execute("""SELECT name, age FROM users""")
user1 = cursor.fetchone()
print(user1)

('olivier', 30)

Vous pouvez récupérer plusieurs données de la même recherche en utilisant la fonction fetchall()

In [25]:
cursor.execute("""SELECT id, name, age FROM users""")
rows = cursor.fetchall()
for row in rows:
    print('{0} : {1} - {2}'.format(row[0], row[1], row[2]))

1 : olivier - 30
2 : olivier - 30
3 : olivier - 30
4 : jean-louis - 90

L'objet curseur fonctionne comme un itérateur, invoquant la méthode fetchall() automatiquement:

In [26]:
cursor.execute("""SELECT id, name, age FROM users""")
for row in cursor:
    print('{0} : {1}, {2}'.format(row[0], row[1], row[2]))

1 : olivier, 30
2 : olivier, 30
3 : olivier, 30
4 : jean-louis, 90